<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SnitchDatabaseV2.Properties.Settings.BuildingDatabaseConnectionString"
            connectionString="Data Source=(localdb)\MSSqlLocalDB;AttachDbFilename=C:\Users\Nikop\source\repos\MasterSnitch\SnitchDatabaseV2\BuildingDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>